.textWhite {
    color: white;
}

.text {
    font-family: "Quicksand";
    text-align: justify;
    font-size: 1.25rem;
    line-height: 125%;
    margin-top: 0;
}

.textWhitePrevious {
    color: white;
    opacity: 60%;
    font-family: "Quicksand";
}

.imageContainer {
    display: inline;
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
}

.blocAdapt {
    min-height: 350px;
    box-sizing: content-box;
}

.buttonContainer {
    display: flex;
    gap: 20px;
}

.actionContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.accessibilityButton {
    display: flex;
    justify-content: space-between;
    min-width: fit-content;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.chapterAndStatsContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.statsContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.blocStat {
    flex: 1;
}
