.action_simple {
    color: #461c89;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    font-family: "Quicksand";
    text-decoration: underline;
}

.high_contrast {
    color: white;
}
