.bouton {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    background-color: #461c89;
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Quicksand";

    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:not(.disabled):not(.high_contrast):hover {
    background-color: #bd69b7;
}

.disabled {
    background-color: #cecece;
    cursor: not-allowed;
}

.high_contrast {
    background-color: black;
    border-color: white;
}
