.bouton {
    display: inline-flex;
    gap: 10px;
    align-items: center;

    background-color: #461c89;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Quicksand";

    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bouton:not(.disabled):hover {
    background-color: #6328c3;
}

.disabled {
    background-color: #cecece;
    cursor: not-allowed;
}
