.body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9)
        ),
        url(/error_404.jpeg);
}

.containerError {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    font-size: 50px;
    color: white;
    min-height: 100vh;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.9)
        ),
        url(/error_404.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        justify-content: end;
        padding-bottom: 130px;
        box-sizing: border-box;
}