.selected {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-family: "Quicksand";

    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.boutonPink:not(.selected) {
    background-color: #d57ace;
    color: black;
}
