.titre {
    font-family: "Rakkas", serif;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
}

.titre0 {
    font-size: 8rem;
}

.titre1 {
    font-size: 6rem;
}

.titre2 {
    font-size: 4rem;
}
