.titre {
    font-family: "Rakkas", serif;
    font-weight: normal;
    line-height: 100%;
    margin: 0;
}

.titre0 {
    font-size: 128px;
}

.titre1 {
    font-size: 96px;
}

.titre2 {
    font-size: 64px;
}
